/* ================= NETFLIX THEME ================= */
:root {
  --netflix-red: #e50914;
  --netflix-black: #141414;
  /* --netflix-dark: #181818; */
  --netflix-gray: #b3b3b3;
  --netflix-white: #ffffff;
}

/* Reset + full dark */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--netflix-black);
  color: var(--netflix-white);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
}

/* Angular Material full dark override */
.mat-app-background,
.mat-drawer-container,
.mat-sidenav-container {
  background-color: var(--netflix-black) !important;
}

/* Material inputs */
.mat-mdc-form-field {
  background-color: var(--netflix-dark);
  border-radius: 6px;
}

/* Text fields */
.mat-mdc-text-field-wrapper {
  background-color: var(--netflix-dark) !important;
}

/* Labels */
/* .mat-mdc-floating-label,
.mat-mdc-select-value {
  color: var(--netflix-gray) !important;
} */

/* Focus color */
.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: var(--netflix-red) !important;
}

/* Buttons */
.mat-mdc-raised-button {
  background-color: var(--netflix-red) !important;
  color: white !important;
}

/* Paginator */
.mat-mdc-paginator {
  background-color: var(--netflix-black);
  color: white;
}
